:root {
	box-sizing: border-box;
    --white: hsl(0, 0%, 100%);
    --cream: hsl(30, 38%, 92%);
    --dark-cyan: hsl(158, 36%, 37%);
    --very-dark-cyan: hsl(158, 36%, 15%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
}

*, ::before, ::after {
	box-sizing: inherit;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    background-color: var(--cream);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: auto;
}

.product-card {
    background-color: var(--white); 
    margin: 1.5em;
    border-radius: 8px;
    max-width: 350px;
}


@media (min-width: 600px) {
    .product-card {
        display: flex;
        max-width: 600px;
    }
}

.product-image {
    width: 100%;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@media (min-width: 600px) {
    .product-image {
        width: 280px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
    }

    .product-image.mobile-image {
        display: none;
    }
}

.product-info {
    padding: 1.5em;
}

@media (min-width: 600px) {
    .product-info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 2em;
    }
}

.product-category {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.3em;
    margin: 0;
}

.product-name {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--very-dark-blue);
    margin: 0.5em 0 0 0; 
}

.product-description {
    margin: 1em 0 0 0;
}

.product-price {
    margin: 1em 0 0;
    display: flex;
    align-items: center;
}

.product-current-price {
    margin: 0;
    font-family: "Fraunces", serif;
    font-size: 2rem;
    color: var(--dark-cyan);
}

.product-previous-price {
    margin: 0;
    margin-left: 1.5em;
    text-decoration: line-through;
}

.product-action-button {
    width: 100%;
    margin: 1em 0 0 0;
    border: none;
    border-radius: 8px;
    background-color: var(--dark-cyan);
    font-weight: 700;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-action-button:active {
    background-color: var(--very-dark-cyan);
}

.action-button-icon {
    margin-right: 1em;
}